.file-box {
    width: 100%;
    color: antiquewhite;
    margin: 0;
    padding: 0;  
    font-size: 15pt; 
    background-color: #77b8e4; 
}

.recipeCardInBox {
    color: rgb(18, 8, 82); 
}

.fileBoxButtons {
    color: black;
    background: rgb(238, 179, 179);
    border: none;
    font-weight: bold;
    position: relative;
    width: 100%;
    height: 28px;
}
