#recipe-card {
    width: 300px; 
    border-right: 4px solid #0d8ee4;
    float: left; 
    text-align: left; 
    padding: 3px; 
    font-weight: bold; 
}

#nutrition-card {
    width: 300px; 
    float: left; 
    text-align: left; 
    padding: 3px; 
    font-weight: bold; 
}

.border {
    margin-top: 50px; 
    margin-right: 10px; 
    border: 4px solid #0d8ee4; 
    float: left; 
}